.principal{
    background-image: url("./universo_2560x1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:#b8b8b8;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccion{
    text-align: center;
    width: auto;
    margin: 15px;
    padding: 2px;
    background: #161616;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

.general{
    text-align: center;
    width: auto;
    margin: 15px;
    padding: 2px;
    background: #161616;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: 2px solid #00779b;
}

.introduccion{
    text-align: center;
    width: auto;
    margin: 15px;
    padding: 2px;
    background: #161616;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: 2px solid #9b4600;
}

.final{
    text-align: center;
    width: auto;
    margin: 15px;
    padding: 2px;
    background: #161616;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: 2px solid #9b7700;
}

.recorrido{
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 2px;
    background: #161616;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: 2px solid #319b00;
}

.card{
    text-align: center;
    width: auto;
    margin: 15px;
    padding: 10px;
    background: #161616;
    border: 1px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

input{
    background-color: rgb(255, 245, 255);
    font-size: 15px;
}

input[type="file"] {
    position: static;
    font-size: 15px;
    background-color: rgb(90, 2, 90);
    color: #b8b8b8;
    margin: 10px;
    padding: 10px;
    border: 1px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

p{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

label{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

input{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

h1{
    text-align: center;
    width: auto;
    background-color: rgb(90, 2, 90);
    border: 1px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

hr {
    position: relative;
    top: 10px;
    border: none;
    height: 2px;
    background: #319b00;
    margin-bottom: 30px;
    width: 75%;
}

button {
    border: none; 
    font-size: 15px;
    color: white; 
    background-color: rgb(0, 133, 29);
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer; 
    border-radius: 10px;
  }